.search-form{
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

table{
    width: 20%;
    margin: 0 auto;
    border-top: 2px solid orange;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
              
}


h1, legend{
    text-align: center;
}