#content{
    margin-top: 0;
    padding-top: 0;
}

.row{
    justify-content: space-around;
    padding-top: 3rem;
}

.btn{
    background-color: #f1843bda;
    border: 0;
}

.btn:hover{
    background-color: rgb(0, 89, 255);
}

.link{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.link:hover{
    color: #f1843bda;
}

#logins{
    width: 32.5%;
    margin: 0 0;
}

#content{
    padding-bottom: 8.8rem;
}

p{
    font-size: 16px;
    padding-bottom: 4px;
}